@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Global variables */

:root {
  --color-hsl-primary-300: 0, 36%, 70%;
  --color-hsl-neutral-500: 0, 43%, 60%;

  --color-primary-300: hsl(var(--color-hsl-primary-300));
  --color-primary-400: hsl(0, 93%, 68%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 100%, 98%);
  --color-neutral-300: hsl(0, 80%, 86%);
  --color-neutral-400: hsl(0, 74%, 74%);
  --color-neutral-800: hsl(0, 6%, 24%);

  --gradient-primary: linear-gradient(
    150deg,
    var(--color-neutral-100) 0%,
    var(--color-neutral-200) 84.51%
  );
  --gradient-secondary: linear-gradient(
    135deg,
    var(--color-neutral-300),
    var(--color-neutral-400)
  );
  --gradient-secondary-hover: linear-gradient(
    135deg,
    var(--color-neutral-300),
    var(--color-neutral-300)
  );
  --shadow: 0px 15px 20px 0px hsla(var(--color-hsl-neutral-500), 0.25);

  --font-face-default: "Josefin Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --fluid-10-17: clamp(10.825px, 6.185px + 1.2373vi, 17.321px);
  --fluid-14-16: clamp(0.875rem, 0.7857rem + 0.381vi, 1rem);
  --fluid-16-32: clamp(1rem, 0.2857rem + 3.0476vi, 2rem);
  --fluid-31-75: clamp(1.9375rem, 0.9692rem + 4.1315vi, 4.6875rem);
  --fluid-32-166: clamp(2rem, -0.9489rem + 12.5822vi, 10.375rem);
  --fluid-40-64: clamp(2.5rem, 1.4286rem + 4.5714vi, 4rem);
  --fluid-100-158: clamp(100px, 58.5714px + 11.0476vi, 158px);
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button {
  font: inherit;
  display: block;

  border: none;
  outline: none;
  background: none;
}

/* Global styles */
body {
  font-family: var(--font-face-default);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary-300);
  text-align: center;
  line-height: 1.75;
}

.wrapper {
  padding-inline: var(--fluid-32-166);
}

main {
  min-height: 100vh;
  background-image: var(--gradient-primary);
  background-size: cover;
}

.logo {
  width: var(--fluid-100-158);
  height: auto;
  padding-block: var(--fluid-31-75);
}

.hero {
  max-height: 100vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.content__title {
  font-size: var(--fluid-40-64);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-800);
  text-transform: uppercase;
  line-height: 1.10938;
  letter-spacing: var(--fluid-10-17);
  margin-top: 4rem;
}

.content__title span {
  font-weight: var(--font-weight-light);
  color: var(--color-primary-300);
  line-height: 1;
}

.content__text {
  padding-block: var(--fluid-16-32);
}

.content {
  padding-bottom: 4rem;
}

.form-field .input-wrapper {
  position: relative;
}

.form-field input {
  width: 100%;
  height: 56px;
  padding-left: 2rem;
  padding-right: 9rem;
  border: 1px solid hsla(var(--color-hsl-primary-300), 0.5);
  box-shadow: 0 4 4 0 hsla(0, 0%, 0%, 0.25);
  border-radius: 2rem;
  color: var(--color-neutral-800);
  font-weight: var(--font-weight-light);
}

.form-field input::placeholder {
  color: hsla(var(--color-hsl-primary-300), 0.5);
}

.form-field button {
  position: absolute;
  background-image: var(--gradient-secondary);
  background-blend-mode: overlay;
  border-radius: 2rem;
  box-shadow: var(--shadow);

  top: 0;
  right: 0;
  width: 100px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-field button:hover {
  background-color: hsla(0, 0%, 100%, 0.35);
}

.form-field .error-icon {
  position: absolute;
  top: 50%;
  right: 7rem;
  transform: translateY(-50%);
  display: none;
}

.form-field.error .error-icon {
  display: block;
}

.form-field.error input {
  border-color: var(--color-primary-400);
}

.form-field.success .error-icon {
  display: none;
}

.form-field.success input {
  border: 1px solid hsla(var(--color-hsl-primary-300), 0.5);
}

.form-field small {
  color: var(--color-primary-400);
}

@media screen and (min-width: 768px) {
  body {
    text-align: left;
  }

  main {
    background-image: var(--gradient-primary),
      url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-size:
      auto,
      58% 100%;
    background-blend-mode: color-burn;

    display: grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header hero" "content hero";
  }

  header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .content {
    grid-area: content;
  }

  .input {
    max-width: 445px;
  }

  .form-field small {
    padding: 0.25rem 2rem;
  }
}
